.irs--big .irs-bar {
  background: #d81b60;
  border: none;
  height: 10px;
}

.irs--big .irs-handle {
  background: white;
  border: none;
  width: 22px;
  height: 22px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.irs--big .irs-from,
.irs--big .irs-to,
.irs--big .irs-single {
  background: #4dd0e1;
}

.irs--big .irs-handle.state_hover,
.irs--big .irs-handle:hover {
  border-color: rgba(0, 0, 0, 0);
  background-color: white;
  background: linear-gradient(to bottom, white 0%, white 30%, white 100%);
  cursor: pointer;
}

.irs--big .irs-line {
  height: 10px;
}
@media screen and (max-width: 576px){
  #slider{
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}