.gCarImgVM {
    width: 100%;
    object-fit: contain;
    height: 60vh;
}

.gCarImg {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.gCarImgBarItem {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.viewMore {
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    color: #fff;
}

.gCarTopWrapper {
    height: 50vh;
    object-fit: contain;
}

.carousel-control-prev {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.carousel-control-next {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

#gCarVMWrapper{
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    /* display: none ; */
}

.closeIcon{
    position: absolute;
    left: 6%;
    top: 10%;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
}
.closeIcon i{
    font-size: 2rem;
}

@media only screen and (max-height:1367px) and (min-height:1330px){
    .gCarTopWrapper{
        height: 22vh !important;
        
    }
}