#map-form {
    box-shadow: 3px 3px 5px 2px grey;
    background: white;
    border-radius: 5px;
    height: 28.5rem;
    max-height: 35rem;
    max-width: 30rem;
    padding: 1.5% 1.5% 25px;
}

#danceDate, #input-id {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    font-weight: bold;
    cursor: pointer;
}
#second-input {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

#down-input {
    border-radius: 24px;
}

#book-input {
    border-radius: 24px;
}

#book-form {
    width: 100%;
    border-radius: 24px;
    background-color: #4dd0e1;
    border-color: #4dd0e1;
    font-size: 1.125rem;
    margin-top: 0.5rem
}

ul li {
    margin-top: 1.5vh;
    list-style-type: none;
}

#outer-div {
    margin-left: 3vw;
    width: 75%;
    height: auto;
    max-width: 200% !important;
    background-color: #F5F0F0;
    padding: 2rem;
    box-shadow: 3px 3px 5px 2px grey;
    border-radius: 5px;
    margin-bottom: 10px;
}
#nearby b{
    margin-left: 5vw;
}
#inner-div {
    padding: 10px;
    background-color: white;
    font-size: 14px;
}

html,
body {
    transform: scaleX(0.998);
    height: 100%;
    margin: 0;
    padding: 0;
}
/* .slick-next::before, .slick-prev::before {
color: black;
} */


.title {
    font-weight: bold;
}
/* .slick-list{
margin-left: 2vw;
}
.slick-next{
margin-right: 4vw;
}
.slick-prev{
z-index: 100;
margin-left: 4vw;
} */
#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

::-webkit-input-placeholder {
    color: peachpuff;
    font-size: 13px;
}

/* .for_slick_slider {
display: flex;
width: 97%;
}

.for_slick_slider .items {
width: 350px;
height: 250px;
margin: 50px;
} */
.datepicker{
    width: 300px !important;
}
.datepicker__months::before{
    background: transparent !important;
}

/* .for_slick_slider .items .overlay {
top: 0;
left: 0;
position: absolute;
width: 350px;
height: 250px;
} */

/* .for_slick_slider .items img {
width: 300px;
height: 250px;
transition: all linear .4s;
} */

/* .for_slick_slider .slick-center img {
transform: scale(1.2);
} */
/*
.slick-slide{
transition: all 0.3s ease;
}

.slick-current, .slick-center {
transform: scale(1.2);
} */

.card-right {
    height: 5vh;
    background-color: #4dd0e1;
    border: none;
    color: white;
}

.card-body {
    margin-top: -0.9rem;
}

.left {
    margin-left: 12rem;
}
#nearby{
    margin-left: -40px;
}


/* map*/

#map {
    height: 20rem;
    width: 80%;
}

.direction-link {
    margin-top: 0;
    right: 15px;
    color: #4dd0e1;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
#hours{
    margin-left: 3rem;
}
.row1{
    margin-left: 2vw;
    margin-right: auto;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: space-between;
}
.op1 , .op2, .rules{
    width: 27vw;
}
.star{
    margin-left: auto;
}
.star{
    margin-right: 10px;
}
.description{
    margin-left: 2.4rem;
}
.carousel-wrapper-offers .carousel {
    height: 45vh;
}
.carousel-wrapper-offers{
    height: 45vh;
    background-color: white !important;
}
img{
    border-radius: 10px !important;
}
.svg-inline--fa{
    margin-left: 3rem;
}

#rules{
    margin-left: 3rem;
    padding-left: 0;
}
.desc1{
    margin-left: 5rem;
    margin-bottom: 20px ;
}
@media screen and (max-width: 990px){
    .svg-inline--fa{
        margin-left: 4rem;
    }
}
@media screen and (max-width: 1024px){
    #map-form{
        height: 480px;
        width: 300px;
    }
    .op1 , .op2, .rules{
        width: 30vw;
    }
    .description{
        margin-left: 2.25rem;
    }
    .row0{
        margin-top: -1vh !important;
    }
}
@media screen and (max-width: 990px){
    .openhours{
        margin-top:50px;
    }
    .rules{
        width:90vw;
    }
    .op1 ,.op2{
        width: 45vw;
    }
}
@media screen and (min-width:1024px){
    .reviews1
    {margin-left: 4.1vw !important;}
}
.row{
    width: 100%;
    margin-right: 0 !important;
}

.row2{
    width: 100vw;
    margin-right: 0;
}
@media screen and (max-width:768px){
    h3{
        margin-left: 20px;
    }
    /* .slick-prev{
    margin-left: 5vw;
    } */
    .description{
        margin-left: 3rem;
    }
    .mapgh ul{
        padding-inline-start: 2.3rem;
    }
    .desc1{
        margin-bottom: 20px ;
        width: 100vw;
    }
    .star{
        margin-left: 11vw;
    }
    .reviews{
        margin-left: 10px;
    }
    i{
        margin-left: 4rem;
    }
    b{
        margin-left: 20px;
    }
    li{
        margin-left: -3rem;
    }
    #rules{
        margin-left: 6.3rem;
        padding-left: 0;
    }
    .card-right{
        margin-left: 1rem;

    }
    #map-form{
        margin-left: 2rem;
        width: 740px;
        height: auto;
        padding-bottom: 20px;
    }
    #nearby{
        margin-left: 10px;
    }
    #outer-div{
        width: 97%;
        margin-right: 1.9rem;
        height: auto !important;
    }
    #days{
        margin-left: -2rem;
    }
    /* .for_slick_slider .items {
    width: 400px;
    height: 300px;
    margin: 10px;
    }
    .for_slick_slider .items img {
    width: 180px;
    height: 300px;
    transition: all linear .4s;
    } */
    .map-marker .row .col-lg-10{
        max-width: 85%;
    }
    .map-marker .row .col-lg-2{
        max-width: 10vw;
    }
    .map-marker .row .col-lg-2 i{
        margin-left: 0;
    }
    .map-marker .row .col-lg-2 .svg-inline--fa {
        margin-left: 0;
    }

}
@media screen and (min-width:786px){
    .row2 .col-lg-11 {
        margin-left: 5vw !important;
    }
}
@media screen and (max-width:430px){
    h3{
        margin-left: 20px;
    }
    .desc1{
        margin-left: 4rem ;
    }
    .reviews1{
        padding-left: 5px !important;
    }
    .mapgh ul{
        padding-inline-start: 2rem;
    }
    .description{
        margin-left: 2.8rem;
    }
    body{
        transform: scaleX(1);
    }
    .star{
        margin-left: 15vw;
    }
    h4{
        font-size: 22px !important;
    }
    i{
        margin-left: 4rem;
    }
    b{
        margin-left: 20px;
    }
    li{
        margin-left: -3rem;
    }
    #rules{
        margin-left: 6rem;
        padding-left: 0;
    }
    .card-right{
        margin-left: 1rem;

    }
    #map-form{
        margin-left: 1.5rem;
        width: 740px;
        height: auto;
        padding-bottom: 20px;
    }
    #nearby{
        margin-left: 10px;
    }
    #outer-div{
        width: 100%;
        margin-right: 1.9rem;
        height: 29rem;
    }
    #days{
        margin-left: -2rem;
    }
    /* .for_slick_slider .items {
    width: 200px;
    height: 150px;
    margin: 10px;
    }
    .for_slick_slider .items img {
    width: 80px;
    height: 150px;
    transition: all linear .4s;
    } */
    .row1{
        flex-wrap: wrap;
    }
    .rules{
        width:90vw;
    }
    .op1 ,.op2{
        width: 90vw;
    }
    .op1{
        margin-top: 45px !important;
    }
    .op2{
        margin-top: 0 !important;
    }
}
@media screen and (max-width: 375px){
    html, body{
        transform: scaleX(1);
    }
    .star{
        margin-left: 17vw;
    }
    h3{
        margin-left: 20px;
    }
    i{
        margin-left: 4rem;
    }
    b{
        margin-left: 20px;
    }
    li{
        margin-left: -3rem;
    }
    #rules{
        margin-left: 6rem;
        padding-left: 0;
    }
    .card-right{
        margin-left: 1rem;

    }
    #map-form{
        margin-left: 1.5rem;
        width: 700px;
        height: auto;
        padding-bottom: 20px;
    }
    #nearby{
        margin-left: 10px;
    }
    #outer-div{
        width: 100%;
        margin-right: 1.9rem;
        height: 29rem;
    }
    #days{
        margin-left: -2rem;
    }
    /* .for_slick_slider .items {
    width: 200px;
    height: 150px;
    margin: 10px;
    }
    .for_slick_slider .items img {
    width: 80px;
    height: 150px;
    transition: all linear .4s;
    } */
}


#map-form{
    max-width: 95% !important;
}


.nav{
    justify-content: center;
}

.chk-btn input[type=checkbox]{
    display: none;
}
.chk-btn{
    margin-bottom: 0 !important;
}


*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 75rem;
    width: 80%;
    padding: 0 2rem;
    margin: 0 auto;
}

.wrapper {
    max-width: 40rem;
    padding: 3rem;
    margin: 4rem auto 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.form-group:first-child {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-flex: 1;
    flex: 1;
    flex-basis: auto;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.form-group .input-field {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    cursor: pointer;
    background: #ffffff;
    border: none;
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.form-group .input-field:first-child {
    margin-right: 1rem;
}

.ui-datepicker {
    display: none;
    max-width: 20rem;
    background: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
}
.ui-datepicker-header {
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.ui-datepicker-header a span {
    display: none;
}
.ui-datepicker-header a.ui-corner-all {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}
.ui-datepicker-header a.ui-corner-all:hover {
    border: 1px solid #cccccc;
}
.ui-datepicker-header a.ui-datepicker-prev {
    left: 0;
    background-size: 1.5rem;
    background: url("../icons/arrow-left.svg") no-repeat 50%;
}
.ui-datepicker-header a.ui-datepicker-next {
    right: 0;
    background-size: 1.5rem;
    background: url("../icons/arrow-right.svg") no-repeat 50%;
}
.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
    padding: 1rem;
}
.ui-datepicker-calendar thead {
    color: #cccccc;
}
.ui-datepicker-calendar a {
    color: #444444;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
}
.ui-datepicker-calendar a:hover {
    border: 1px solid #cccccc;
}
.ui-datepicker-calendar .ui-datepicker-unselectable {
    color: #999999;
    cursor: default;
}
.ui-datepicker-calendar .ui-state-highlight {
    border-color: #d33a47;
    color: #d33a47;
}
.ui-datepicker-calendar .ui-state-active {
    background: #d33a47;
    color: #ffffff;
}

@media only screen and (max-width: 700px) {
    .container {
        max-width: 75rem;
        width: 100%;
    }

    .wrapper {
        max-width: 40rem;
        padding: 2rem;
    }

    .form-group:first-child {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .form-group .input-field:first-child {
        margin: 0 0 1rem;
    }
}


.button-group-pills .btn {
    border-radius: 20px;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-left: 10px;
    border-color: #bbbbbb;
    background-color: #FFF;
    color: #14a4be;
}
.button-group-pills .btn.active {
    border-color: #14a4be;
    background-color: #14a4be;
    color: #FFF;
    box-shadow: none;
}
.button-group-pills .btn:hover {
    border-color: #158b9f;
    background-color: #158b9f;
    color: #FFF;
}

.ui-datepicker-header a.ui-corner-all {
    background: #4dd0e1;
}
.ui-datepicker-header a.ui-datepicker-next{
    background: url("/images/map/angle-right-solid.svg");
    transform: scale(0.8);
}

.ui-datepicker-header a.ui-datepicker-prev{
    background: url("/images/map/angle-left-solid.svg");
    transform: scale(0.8);
}


/* for rating and reviews */


a {
    text-decoration: none !important;
    color: inherit
}

a:hover {
    color: #455A64
}

.card1 {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 20px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px
}
@media only screen and (max-width: 990px){
    .card1 {
        width: 100vw;}
}
.rating-box {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    background-color: #d81b60;
    color: #fff
}

.rating-label {
    font-weight: bold
}

.rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px
}

.bar-5 {
    width: 70%;
    height: 13px;
    background-color: #d81b60;
    border-radius: 20px
}

.bar-4 {
    width: 30%;
    height: 13px;
    background-color: #d81b60;
    border-radius: 20px
}

.bar-3 {
    width: 20%;
    height: 13px;
    background-color: #d81b60;
    border-radius: 20px
}

.bar-2 {
    width: 10%;
    height: 13px;
    background-color: #d81b60;
    border-radius: 20px
}

.bar-1 {
    width: 0%;
    height: 13px;
    background-color: #d81b60;
    border-radius: 20px
}

td {
    padding-bottom: 10px
}

.star-active {
    color: #d81b60;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-active:hover {
    color: #d81b60;
    cursor: pointer
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px
}

.blue-text {
    color: #0091EA
}

.content {
    font-size: 18px
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 30px
}

.pic {
    width: 80px;
    height: 80px;
    margin-right: 10px
}

.vote {
    cursor: pointer
}


/* stars */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 50px;
    color: #d81b60;
    cursor: pointer
}
.testimonials .row{
    flex-direction: row-reverse;
}
@media only screen and (max-width: 990px){
    .rating>label{font-size: 50px;}
    .rating{
        margin-left: 3rem;
    }
    .testimonials .row{
        flex-direction: column-reverse;
    }
}
.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

/* reviews */
.testimonials {
    width: 99%;
    padding: 40px 0;
}
.testimonials .card {
    border-bottom: 3px #d81b60 solid !important;
    transition: 0.5s;
    margin-top: 40px;
}
@media only screen and (min-width: 990px){
    .reviews2{
        margin-left: 2rem;
    }
    .desc1{
        margin-left: 0;
    }

}

.ui-input-container {
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
}
.ui-form-input-container {
    position: relative;
    font-size: 1rem;
    display: block;
}
.ui-form-input {
    padding: 13px 15px;
    border-radius: 8px;
    border: 2px solid #d81b60;
    outline: 0;
    width: 100%;
}

.form-input-label {
    position: absolute;
    top: -7px;
    left: 10px;
    color: #d81b60;
    font-size: 0.85rem;
    padding-right: 0.33rem;
    padding-left: 0.33rem;
    background: #fff;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    font-family: sans-serif;
    text-transform: capitalize;
}


textarea {
    resize: none;
    width: 100%;
}
#the-count{
    margin-left: auto;
    width: 70px;
    margin-top: -0.3rem;
}

.profile-img{
    border-radius: 100% !important;
    margin-bottom: 10px;
}

.open-hours .svg-inline--fa, .desc1 .svg-inline--fa{
    margin-left: 0;
}
.open-hours-row{
    margin-left: 1rem;
}
.write-review{
    margin-left: -5.6rem;
}

a .svg-inline--fa{
    margin-left: 0;
}
footer .container{
    width: 97%;
}
.footer-links li, .social-icons li{
    margin-top: 0;
}
.site-footer{
    transform: scaleX(1.004);
}


@media only screen and (max-width: 990px){
    .write-review{
        margin-left: 0;
    }
}
.datepicker__month-button:hover{
    background-color: #4dd0e1 !important;
}
.datepicker__close-button{
    background-color: #4dd0e1 !important;
}
.datepicker__month-day--selected, .datepicker__month-day--hovering{
    background-color: #d81b602b !important;
}
.datepicker__month-day--first-day-selected, .datepicker__month-day--last-day-selected{
    background-color: #d81b60 !important;
}
#the-textarea::-webkit-scrollbar{
    display: none;
}
.previous, .next {
    opacity: 0.7;
}
@media only screen and (max-width: 1100px) and (min-width: 700px){
    .carousel-wrapper-offers .carousel, .carousel-wrapper-offers {
        height: 20vh !important;
    }
}
@media (max-width:1024px) and (min-width: 700px){
    .card-right {
        height: 3.5vh;
    }
}

@media (max-width:1024px) and (min-width: 990px){
    .rules {
        width: 25vw;
    }

}